<section>

<h3>Courts</h3>

<app-errorcard *ngIf="error" [error]="error"></app-errorcard>

<div *ngIf="!masterCourts || masterCourts.length === 0">
  No courts found
</div>

<mat-list *ngIf="masterCourts && masterCourts.length > 0">
  <mat-list-item *ngFor="let court of masterCourts">
    <mat-checkbox
      [checked]="court.checked"
      (change)="onCheckUncheck(court, $event)"
    >
      {{ court.name }}
    </mat-checkbox>
  </mat-list-item>
</mat-list>

<button mat-button (click)="addCourt()">Add court</button>









</section>