<div class="flex-column collapsible-sidebar" [class.collapsed]="isCollapsed">

  <div class="flex-row header" (click)="toggleCollapse()">
    @if (!isCollapsed) {
      <h4>Hide</h4>
    }
    <i
      class="fa-solid"
      [class.fa-chevron-left]="!isCollapsed"
      [class.fa-chevron-right]="isCollapsed"
    ></i>
    @if (isCollapsed) {
      <h5>Show</h5>
    }
  </div>

  <app-favorites (master)="afterFavoritesDisplayed($event)"></app-favorites>
  <app-master [master]="master"></app-master>


</div>