.landing {
  justify-content: flex-start;
  align-items: start;
  gap: 5px;
}
.checkout-container {
  gap: 5px;
  flex-wrap: wrap;
}
.calendar-controls {
  justify-content: flex-start;
  gap: 5px;
}
.calendar-container {
  gap: 26px;
  flex-wrap: wrap;
}
