.landing {
  justify-content: flex-start;
  align-items: start;
}
.checkout-container {
  gap: 5px;
  flex-wrap: wrap;
}
.calendar-controls {
  justify-content: flex-start;
  gap: 5px;
}
.calendar-container {
  gap: 26px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .calendar-sub-container {
    width: 100%;
  }
}