<h2 class="flex-row gap5 alignleft text-xl font-bold">
  <span matTooltip="{{date | date: 'MMMM d, yyyy'}}">{{court.name}} ({{court.org}})</span>
  <i *ngIf="!favorite && !anonymous" class="fa-regular fa-star pointer text-3xl" matTooltip="Add to favorites" (click)="addToFavorites()"></i>
  <i *ngIf="favorite && !anonymous" class="fa-solid fa-star pointer gold text-3xl" matTooltip="Remove from favorites" (click)="removeFromFavorites()" [class.spin]="spinning"></i>
</h2>
<div>Schedule: {{schedStart}} to {{schedEnd}}</div>
<div *ngIf="message">{{message}}</div>
<div *ngIf="error" style="color: red">{{error}}</div>
<div class="calendar-wrapper">
  <full-calendar #fullcalendar *ngIf="calendarOptions" [options]="calendarOptions"></full-calendar>
</div>