<h2 class="flex-row gap5 alignleft text-xl font-bold">
  <span matTooltip="{{date | date: 'MMMM d, yyyy'}}">{{court.name}} ({{court.orgName}})</span>
  <i *ngIf="!favorite && !anonymous" class="fa-regular fa-star pointer" matTooltip="Add to favorites" matTooltipPosition="above" (click)="addToFavorites()"></i>
  <i *ngIf="favorite && !anonymous" class="fa-solid fa-star pointer gold" matTooltip="Remove from favorites" matTooltipPosition="above" (click)="removeFromFavorites()" [class.spin]="spinning"></i>
  <i *ngIf="owner" [matMenuTriggerFor]="courtSettingsMenu" matTooltipPosition="above" class="fa-solid fa-gear pointer" matTooltip="Court Settings"></i>
</h2>
<div>Schedule: {{schedStart}} to {{schedEnd}}</div>
<div *ngIf="message">{{message}}</div>
<div *ngIf="error" style="color: red">{{error}}</div>
<div class="calendar-wrapper">
  <full-calendar #fullcalendar *ngIf="calendarOptions" [options]="calendarOptions"></full-calendar>
  <ngx-skeleton-loader count="6" *ngIf="!calendarOptions"></ngx-skeleton-loader>
</div>

<!-- The menu template -->
<mat-menu #courtSettingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item (click)="adminControl()">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin control</span>
  </button>
  <button mat-menu-item routerLink="/owner">
    <mat-icon>settings</mat-icon>
    <span>Court settings</span>
  </button>
</mat-menu>
