h2 {
  margin-bottom: 5px;
}
::ng-deep .fc-toolbar {
  display: none !important;
}
@keyframes spin {
    0% {
      transform: rotate(0deg) scale(2);
    }
    50% {
      transform: rotate(180deg) scale(1.5);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
}
.spin {
  animation: spin 0.35s linear infinite;
}
.gold {
  color: gold;
}

@media (min-width: 1024px) {
  /* Desktop and large laptop styles go here */
  .calendar-wrapper {
    width: 400px;
  }
}