<h2 mat-dialog-title>Create Court</h2>

<form [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content>
  <div class="flex-col form-fields-wrapper">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Organization</mat-label>
      <input matInput [value]="org?.name" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Court Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="form.controls['name']?.hasError('required') && form.controls['name']?.touched">
        Name is required.
      </mat-error>
      <mat-error *ngIf="form.controls['name']?.hasError('maxlength') && form.controls['name']?.touched">
        Name must not exceed 20 characters.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Start time</mat-label>
      <input matInput [ngxMatTimepicker]="startPicker" formControlName="start" readonly>
      <ngx-mat-timepicker #startPicker [hoursOnly]="true"></ngx-mat-timepicker>
      <mat-icon matSuffix (click)="startPicker.open()">schedule</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>End time</mat-label>
      <input matInput [ngxMatTimepicker]="minPicker" formControlName="end" readonly>
      <ngx-mat-timepicker #minPicker [hoursOnly]="true"></ngx-mat-timepicker>
      <mat-icon matSuffix (click)="minPicker.open()">schedule</mat-icon>
    </mat-form-field>

  </div>
  <mat-error *ngIf="form.errors?.['timeRange'] && (form.dirty || form.touched)">
    End time must be after start time
  </mat-error>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
