@if (master) {
  <section>
    <h3>Courts</h3>
    @for (org of master.orgs; track org) {
      <div>
        <h3>{{ org.name }}</h3>
        <ol>
          @for (court of org.courts; track court) {
            <li>
              <div>
                <input
                  type="checkbox"
                  [checked]="isChecked(court.id)"
                  (change)="onCheckUncheck(court, $event)"
                  />
                {{ court.name }}
              </div>
            </li>
          }
        </ol>
      </div>
    }
  </section>
}