<!-- Show login buttons if NOT logged in -->
<div *ngIf="!user">
  <button mat-raised-button (click)="loginWithGoogle($event)" class="login-button"><mat-icon>login</mat-icon><span class="hidden lg:inline">Login</span></button>
</div>

<!-- Show profile picture if logged in -->
<div *ngIf="user" class="flex-row">
  <span class="mat-body-1 welcome-text">Welcome, {{ user.displayName }}</span>
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-button">
    <img [src]="user.photoURL" alt="Profile Picture" class="profile-picture" />
  </button>
</div>


<!-- The menu template -->
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item routerLink="/landing">
    <mat-icon>calendar_today</mat-icon>
    <span>Booking view</span>
  </button>
  <button mat-menu-item routerLink="/owner">
    <mat-icon>leaderboard</mat-icon>
    <span>Owner view</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
